---
layout: default
title: Home
---

<!-- Home Jumbotron
================================================== -->
<section class="intro full-width">
    <div class="wrapintro">
        <h1>Advance Manufacturing System</h1>
        <h2 class="lead text-justify">
          Advance Manufacturing System is one of the highly acclaimed Industrial Centrifugal Fan
          & Blower manufacturers from India. The company is driven by engineers with sound technical
          knowledge, and blend of vast experience in the field of Industrial Air Blowers.
        </h2>
        <a href="{{ site.baseurl }}/assets/pdf/Advance_Manufacturing_Systems.pdf" target="_blank" class="btn">Download</a>
    </div>
</section>


<!-- Featured
================================================== -->
<section class="featured-posts">
  <div class="section-title">
    <h2><span>Features</span></h2>
  </div>
  <div class="row listfeaturedtag">
    <div class="col-sm-6">
      <div class="card">
        <div class="row">
          <div class="">
            <div class="card-block">
              <h2 class="card-title">
                Standard Features of Advance Manufacturing System
                Make Centrifugal Air Blowers
              </h2>
              <h4 class="card-text">
                <ol>
                  <li>High Energy Efficiency</li>
                  <li>Cost Effective</li>
                  <li>Reduced Noise</li>
                  <li>High manufacturing quality</li>
                  <li>Precise flow and pressure</li>
                  <li>Excellent after sales service & supports</li>
                </ol>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="row">
          <div class="">
            <div class="card-block">
              <h2 class="card-title">
                Advance Manufacturing System is continuously
                supplying to equipment manufacturers such as
              </h2>
              <h4 class="card-text">
                <ol>
                  <li>ID & FD Fans to Boiler manufacturers</li>
                  <li>Centrifugal Blowers for Dust Collection System Manufacturers</li>
                  <li>Air Blowers for Paint Shop System Manufacturers</li>
                  <li>Tube axial and Centrifugal Blower for Smoke Exhaust & Industrial Ventilation</li>
                  <li>Centrifugal Air Blowers for Kitchen Exhaust Applications</li>
                  <li>High pressure blowers for Furnace Manufacturers</li>
                </ol>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}
